services:
  checkmk:
    image: checkmk/check-mk-cloud:2.4.0p17
    restart: unless-stopped
    extra_hosts:
      - "${DOCKER_DOMAIN}:host-gateway"
    
    deploy:
      resources:
        limits:
          memory: 4G

    volumes:
      - monitoring:/omd/sites
      - /etc/localtime:/etc/localtime:ro
      - /opt/omd/sites/cmk/tmp:/opt/omd/sites/cmk/tmp:tmpfs,size=1G
      - ./scripts/mk_docker.py:/opt/omd/versions/default/share/check_mk/agents/plugins/mk_docker.py
      - ./scripts/check_mk_telegram-notify.sh:/opt/omd/versions/default/share/check_mk/notifications/telegram.sh

    labels:
      - "checkmk_monitor=true"
      - "traefik.enable=true"
      - "traefik.http.routers.checkmk.rule=Host(`checkmk.${DOCKER_DOMAIN}`)"
      - "traefik.http.routers.checkmk.entrypoints=https"
      - "traefik.http.routers.checkmk.tls=true"
      - "traefik.http.routers.checkmk.service=checkmk"
      - "traefik.http.services.checkmk.loadbalancer.server.port=5000"

    networks:
      - traefik_proxy

volumes:
  monitoring:

networks:
  traefik_proxy:
    external: true
